body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.player-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(100vw - 40px);
  max-width: none;
  position: fixed;
  top: 0;
  left: 20px;
  right: 20px;
  z-index: 1000;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

button {
  border-radius: 5px;
  background: rgb(240, 240, 240);
  cursor: pointer;
}

button:hover {
  background: rgb(200, 255, 200);
}

.toggle.active {
  background: #28a745 !important;
}

.toggle.active:hover {
  background: #218838 !important;
}

.skip-controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 5px;
}

#skipForwardBtn,
#skipBackBtn {
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#skipForwardBtn {
  margin-left: 20px;
}

#skipBackBtn {
  margin-right: 20px;
}

.player {
  text-align: center;
  margin-bottom: 20px;
}

audio {
  width: 60%;
}

.track-info {
  /* margin-top: 40px; */
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

.playlist {
  width: 100%;
  max-height: calc(100vh - 250px); /* Adjust for player content */
  overflow-y: auto;
  overflow-x: auto;
}

#trackList {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#trackList th,
#trackList td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#trackList th {
  background: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 500;
}

#trackList th[data-column="no"] {
  width: 50px;
  min-width: 50px;
}

#trackList th[data-column="title"] {
  width: 300px;
  min-width: 100px;
}

#trackList th[data-column="source"] {
  width: 300px;
  min-width: 100px;
}

#trackList th.resize::after {
  content: "";
  position: absolute;
  right: -3px;
  top: 0;
  height: 100%;
  width: 6px;
  cursor: col-resize;
  background: transparent;
  z-index: 10;
}

#trackList th.resize:hover::after {
  background: #ccc;
}

#trackList tr {
  cursor: pointer;
}

#trackList tr:hover,
#trackList tr.active {
  background: #e9ecef;
}

#trackList td {
  max-width: 0;
}
